* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", serif;
}

.container-sekolah h1 {
  font-size: 20px;
}

.container-sekolah p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* navbar */
nav {
  display: flex;
  background-color: #00a596;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: #eef5f2ff;
  flex-wrap: wrap;
}

nav .logo {
  letter-spacing: 4px;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #e1e9e6;
  text-decoration: none;
  font-size: 0.9em;
}

nav ul li a:hover {
  color: #fdfefe;
  text-decoration: underline;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 23px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: #e1e9e6;
  transition: all 0.7s;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 29px;
  opacity: 0;
  left: -6px;
  top: -2px;
  z-index: 2;
}
/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform:
    rotate(45deg)
    translate(2px, -2px);
  background-color: white;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg);
  background-color: white;
}

/* responsive break point */

/* ukuran talet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav {
    position: relative;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background-color: #00a596;
    flex-direction: column;
    z-index: 0;
    justify-content: space-evenly;
    align-items: center;
    transition: display 0.15s;
    opacity: 0;
    display: none;
  }
  nav ul.slide {
    display: flex;
    opacity: 1;
  }
    }
